body {
  font-size: 16px;
  color: #fff;
  background: linear-gradient(to bottom, #2B303A 20%, whitesmoke 20%);
  background-repeat: no-repeat;
}
.footer-links{
  text-align: left;
}
#loading{
  position:absolute;
  background-color:white;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -100px;
  z-index: 1000;
}
#nav-list #active1:active{
color: #6173f4;
}
#nav-list #active2:active{
color: #6173f4;
}
#nav-list #active3:active{
color: #6173f4;
}
nav{
  background: url('../images/nm.jpg');
}
#main-content{
  /*box-shadow: 0 0 500px black;
  border: 2px solid black;*/
  
  /*border-radius: 10px;*/
  background-repeat: no-repeat;
  background-size: 100%;
}
#search{
  margin-top: 13px;
  color:black;
}
.image-title{
  box-shadow: -1px -1px 10px 0px #000;
}
.img-h{
	border-radius:40px;
}
#service1{
font-weight:bold;
text-align: center;
box-shadow: -1px -1px 10px 0px #000;
}

#am{
box-shadow: -1px -1px 10px 0px #000;
margin-top:0px;
font-family:cursive;
font-weight:bold;
text-align: center;
font-size:22px;
}

/** HEADER **/
#header-nav {
  /*background-color: white;*/
  /*border: 1px solid black;*/
 
}

#logo-img {
  background: url('../images/new.png') no-repeat;
  width:50px;
  height: 50px;
 
 /* position: fixed;*/
  background-color:#e67e22;
  transition-property:height,transform;
  transition-delay: 1s;
  transition-duration: .5s;
  transition-timing-function: ease-in;
  border-radius: 30px;
}
#logo-img:hover{
  height:78px;
  transform:rotate(720deg);
}

.navbar-brand {
  padding-top:15px;

}
.navbar-brand h1 { /* user name */
  font-family:'lora' serif;
  color: white;
  font-size: 1.5em;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  /*margin-left:60px;*/
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}


#nav-list {
  margin-top: 0px;
  
}
#nav-list a {
  color:white;
  text-align: center;
  
}
#nav-list a:hover {
  color:#1bbd36;
}
#nav-list a span {
  font-size: 1.3em;
}
/*menu*/
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

/* BODY */
/********************************** experience and education*************** **********/
 #experiences{
  background:white;
  position:relative;
  width:100%;

 }
  .menu-title{
    text-align: center;
    margin-bottom: 30px;
    color:black;
   /* border: 2px solid #1bbd36;*/
    box-shadow: 0 0 500px white;

  }
  .image-title{
    text-align: center;
    color: white;
  }
  
  .item{
    background-color:white;
    position:relative;
    color: black;
    margin:5px;
    padding:15px;
    height: 610px; 
    box-shadow: 0 0 50px white;
    border: 2px solid black;
    border-radius: 10px;
   
  }
  .item-title{
    text-align: center;
  }
  
  .item p{
    margin-top: 20px;
    text-align: justify;
    font-size: 100%;
    
  }
   .item-title{ 
    border-left: 2px solid black;
    border-bottom: 2px solid black;
  }
   #title-one {
    background-color:white;
  } 
  
  #title-two{
    background-color:white;
  }
  
  #title-three{
    background-color:white;
  }
  
/* END BODY */

/* FOOTER */
.panel-footer {
background-color:#222;
background-image:url(../images/map-image.png);
background-position:center;
background-repeat:no-repeat;
  display:inline-block;
  width: 100%;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border: 2px solid black;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
#hours, #address {
  line-height: 2;
}
#hours > span, #address > span, #testimonials > span {
  font-size: 1.3em;
}
#address p {
  color: #557c3e;
  font-size: .8em;
  line-height: 1.8;
}
#testimonials {
  font-style: italic;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
}
#testimonials p{
text-align: center;
}

/* END FOOTER */



/*************************platform****************************/
#hours a{
  color: white;
  text-decoration: none;
}
#hours a:hover{
  color: #1bbd36;
}

/* call button */
#call-btn > a {
    font-size: 1.5em;
    margin: 0 auto;
    padding: 5px;
    border: 2px solid #1bbd36;
    background-color: black;
    color: white;
    width: 180px;
    border-radius: 20px;
  
}
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/


/* .....................Button Read more........................ */

.btn-readmore {
  padding: 8px 24px;
  border: 3px solid black;
  transition: 0.4s;
  display: inline-block;
  margin-bottom: 24px;
  margin-left: 24px;
  font-weight: bold;
  cursor: pointer;
  background: white;
}

.btn-readmore:hover {
  background: #1bbd36;
  text-decoration:none;
  padding: 8px 64px 8px 24px;
  color: white;
}
.section-heading {
  font-size: 32px;
  font-family: "Roboto Condensed", sans-serif;
  border-left: 3px solid black;
  border-right: 3px solid black;
  transition: all 0.4s;
  display: inline-block;
  padding: 4px 32px;
  color: #000;
}

.section-heading:hover {
  padding: 4px 48px;
  background: #1bbd36;
}

/* Section Source */

#section-source p {
  padding: 8px;
  text-align: center;
}

#section-source a {
  margin: 8px;
  text-align: center;
}
.container #section-source {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* zoom image certificates */
/* Point-zoom Container */
/* .img-hover-zoom--point-zoom img {
  transform-origin: 65% 75%;
  transition: transform 1s, filter .5s ease-out;
} */

/* The Transformation */
/* .img-hover-zoom--point-zoom:hover img {
  transform: scale(2.5);
  } */





/*app logo*/
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#section-source P{
color: black; 
border: 1px solid #ddd;
padding: 30px 20px;
margin-bottom: 20px;
}

#arthur{
  margin: auto;
  width:20%;
  height:50%;
  border-radius: 50px;
}
#blankpage{
  background-color: #fff;
}

/* ///////////////////////////////////spinner////////////////////// */
.backdrop,
.backdrop-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}
.ring {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1000;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    background: transparent;
    border: 3px solid #3c3c3c;
    border-radius: 50%;
    text-align: center;
    line-height: 150px;
    font-family: sans-serif;
    font-size: 20px;
    color: #04aa6b;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-shadow: 0 0 10px #04aa6b;
    box-shadow: 0 0 20px rgba(0, 0,0, 0.5);
  }
  .ring:before {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-top: 3px solid #04aa6b;
    border-right: 3px solid #04aa6b;
    border-radius: 50%;
    animation: animateC 2s linear infinite;
  }
  #lool p {
    display: block;
    position: absolute;
    top: calc(50% - 2px);
    left: 50%;
    width: 50%;
    height: 4px;
    background: transparent;
    transform-origin: left;
    animation: animate 2s linear infinite;
  }
  #lool p:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #04aa6b;
    top: -6px;
    right: -8px;
    box-shadow: 0 0 20px #04aa6b;
  }
   @keyframes animateC {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes animate {
    0% {
      transform: rotate(45deg);
    }
    100% {
      transform: rotate(405deg);
    }
  } 
  