/* 
#fh5co-our-services,
#fh5co-about-us,
#fh5co-features,
#fh5co-testimonials,
#fh5co-pricing,
#fh5co-press {
  padding: 7em 0;
}
@media screen and (max-width: 480px) {
  #fh5co-our-services,
  #fh5co-about-us,
  #fh5co-features,
  #fh5co-testimonials,
  #fh5co-pricing,
  #fh5co-press {
    padding: 5em 0;
  }
}



#fh5co-our-services,
#fh5co-press {
  background: #f4f4f4;
}

#fh5co-our-services .box {
  padding: 30px;
  background: #fff;
  text-align: center;
  color: #7f7f7f;
  margin-bottom: 70px;
  position: relative;
  box-shadow: 0 0 500px white;
}
@media screen and (max-width: 992px) {
  #fh5co-our-services .box {
    min-height: inherit;
    margin-bottom: 60px;
  }
}
#fh5co-our-services .box .icon {
  width: 85px;
  height: 85px;
  margin: 0 auto;
  top: 0;
  margin-top: -70px;
  margin-bottom: 30px;
  position: relative;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  display: table;
  text-align: center;
}
#fh5co-our-services .box .icon > span {
  display: table-cell;
  vertical-align: middle;
}
#fh5co-our-services .box .icon > span i {
  font-size: 40px;
  color: #fff !important;
  margin: 0;
  padding: 0;
}
#fh5co-our-services .box .icon.colored-1 {
  background: #2aaf67;
}
#fh5co-our-services .box .icon.colored-2 {
  background: #00bff3;
}
#fh5co-our-services .box .icon.colored-3 {
  background: #f26522;
}
#fh5co-our-services .box .icon.colored-4 {
  background: #e52b50;
}
#fh5co-our-services .box .icon.colored-5 {
  background: #2fc5cc;
}
#fh5co-our-services .box .icon.colored-6 {
  background: #6173f4;
}
#fh5co-our-services .box .step-number {
  font-size: 16px;
  display: block;
  color: #d1d1d1;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
}
#fh5co-our-services .box h3 {
  margin: 0 0 20px 0;
  padding: 0;
  font-weight: 400;
  font-size: 20px;
  color: #444;
}
 */
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #fff;
  font-size: 14px;
  background: #111;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #1e1e1e;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 22px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  color: rgba(255, 255, 255, 0.7);
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #1ed33c;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: rgba(255, 255, 255, 0.6);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
  
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #fff;
}

#footer .footer-newsletter {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7);
}

#footer .footer-newsletter h4 {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px 0 0 4px;
  text-align: left;
}

#footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: -4px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #1bbd36;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type="submit"]:hover {
  background: #2ae149;
}

#footer .credits {
  padding-top: 5px;
  font-size: 13px;
  color: #fff;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.08);
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #1bbd36;
  color: #fff;
  text-decoration: none;
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  background: #1bbd36;
  color: #fff;
}

.back-to-top i {
  font-size: 80px;
  top: 8px;
  left: 8px;
}

.back-to-top:hover {
  color: #fff;
  background: #2ae149;
  transition: 0.3s ease-in-out;
}

#footer{
  background-image:url(../images/map-image.png);
}




#experiences ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#experiences ul i {
  padding-right: 2px;
  color: #1ed33c;
  font-size: 18px;
  line-height: 1;
}


/* modal */

   
    
    /* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    
    /* Modal Content */
    .modal-content {
      background-color: black;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
    }
    
    /* The Close Button */
    .close {
      color: white;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
      color:#1bbd36;
      text-decoration: none;
      cursor: pointer;
    }

    /* end modal */
  

